
<div data-component="video" class="relative w-full block">

<div class="relative block">
    <div class="relative block overlay after:content-[''] after:absolute after:inset-0 after:bg-black" style="--overlay-opacity: {{ section.settings.custom_overlay }}">
      <video 
        class="block w-full h-full object-cover min-h-[450px] max-h-screen md:hidden js-video-mobile"
        {% if section.settings.mobile_poster_image != blank %}
          poster="{{ section.settings.mobile_poster_image | image_url }}" 
        {% endif %}
        src="{{ section.settings.mobile_video }}"
        autoplay
        muted
        loop 
        preload="auto"
        fetchpriority="high"
        playsinline>
        Your browser does not support the video tag.
      </video>
  
      <video 
        class="hidden w-full h-full object-cover min-h-[450px] max-h-[750px] md:block 2xl:max-h-screen js-video-desktop"
        {% if section.settings.desktop_poster_image != blank %}
          poster="{{ section.settings.desktop_poster_image | image_url }}" 
        {% endif %}

        src="{{ section.settings.desktop_video }}"
        autoplay
        muted
        loop 
        preload="auto"
        fetchpriority="high"
        playsinline> 
        Your browser does not support the video tag.
      </video>
    </div>
  
    {% if section.blocks.size > 0 %}
      <div 
        class="absolute custom-space max-w-full w-max z-10 {{ section.settings.mobile_vertical_alignment }} {{ section.settings.mobile_horizontal_alignment }} {{ section.settings.mobile_text_alignment }} {{ section.settings.desktop_vertical_alignment }} {{ section.settings.desktop_horizontal_alignment }} {{ section.settings.desktop_text_alignment }}"
        style="--pt-desktop:{{ section.settings.desktop_offset_top }}px;--pb-desktop:{{ section.settings.desktop_offset_bottom }}px;--pl-desktop:{{ section.settings.desktop_offset_left }}px;--pr-desktop:{{ section.settings.desktop_offset_right }}px;--pt-mobile:{{ section.settings.mobile_offset_top }}px;--pb-mobile:{{ section.settings.mobile_offset_bottom }}px;--pl-mobile:{{ section.settings.mobile_offset_left }}px;--pr-mobile:{{ section.settings.mobile_offset_right }}px"
      >
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'custom_text_title' %}
              {% liquid
                assign contentClasses = 'text-monastery-black'
                if block.settings.color == 'WHITE'
                  assign contentClasses = 'text-monastery-white'
                endif
              %}
              <h2 
                class="custom-format {{ contentClasses }}"
                style="
                  --fs-desktop: {{- block.settings.desktop_font_size -}}px;
                  --fs-mobile: {{- block.settings.mobile_font_size -}}px;
                  
                  --fw-desktop: {{- block.settings.desktop_font_weight -}};
                  --fw-mobile: {{- block.settings.mobile_font_weight -}};

                  --ls-desktop: {{- block.settings.desktop_letter_spacing -}}px;
                  --ls-mobile: {{- block.settings.mobile_letter_spacing -}}px;
                "
              >
                {{ block.settings.title }}
              </h2>
            {% when 'custom_text' %}
              {% liquid
                assign contentClasses = 'text-monastery-black'
                if block.settings.color == 'WHITE'
                  assign contentClasses = 'text-monastery-white'
                endif
              %}
              <div 
                class="custom-format mt-1 {{ contentClasses }}"
                style="
                  --fs-desktop: {{- block.settings.desktop_font_size -}}px;
                  --fs-mobile: {{- block.settings.mobile_font_size -}}px;
                  --fw-desktop: {{- block.settings.desktop_font_weight -}};
                  --fw-mobile: {{- block.settings.mobile_font_weight -}};
                  --ls-desktop: {{- block.settings.desktop_letter_spacing -}}px;
                  --ls-mobile: {{- block.settings.mobile_letter_spacing -}}px;
                "
              >
                {{ block.settings.content }}
              </div>
            {% when 'button_link' %}
              {% liquid
                assign buttonColor = ''
                assign buttonBorder = ''

                case block.settings.color
                  when "WHITE"
                    assign buttonColor = 'white'
                  else
                    assign buttonColor = 'black'
                endcase

                case block.settings.border
                  when "WHITE"
                    assign buttonBorder = 'btn-border btn-border__white'
                  when "BLACK"
                    assign buttonBorder = 'btn-border btn-border__black'
                  else
                    assign buttonBorder = ''
                endcase
              %}

              {% if block.settings.link %}
                <a 
                  class="btn mt-3 custom-format lg:mr-2 lg:last:lg-0 {{ buttonColor }} {{ buttonBorder }}" 
                  href="{{ block.settings.link }}" 
                  style="
                    --fs-desktop: {{- block.settings.desktop_font_size -}}px;
                    --fs-mobile: {{- block.settings.mobile_font_size -}}px;
                    
                    --fw-desktop: {{- block.settings.desktop_font_weight -}};
                    --fw-mobile: {{- block.settings.mobile_font_weight -}};

                    --ls-desktop: {{- block.settings.desktop_letter_spacing -}}px;
                    --ls-mobile: {{- block.settings.mobile_letter_spacing -}}px;

                    --btn-opacity: {{- block.settings.opacity -}};
                    --border-size: {{- block.settings.border_size -}}px;
                  "
                  {% if section.settings.is_blank %}
                    target="_blank"
                    rel="noopener noreferrer"
                  {% endif %}
                >
                  <span>
                    {{ block.settings.label }}
                  </span>
                </a>
              {% endif %}
              
          {% endcase %}
        {% endfor %}
      </div>
    {% endif %}
</div>

{% schema %}
{
  "name": "Hero video",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "== Videos"
    },
    {
      "type": "url",
      "id": "mobile_video",
      "label": "Mobile video"
    },
    {
      "type": "image_picker",
      "id": "mobile_poster_image",
      "label": "Mobile poster image"
    },
    {
      "type": "url",
      "id": "desktop_video",
      "label": "Desktop video"
    },
    {
      "type": "image_picker",
      "id": "desktop_poster_image",
      "label": "Desktop poster image"
    },
    {
      "type": "header",
      "content": "== Configuración"
    },
    {
      "type": "range",
      "id": "custom_overlay",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "label": "Overlay opacity",
      "default": 0
    },
    {
      "type": "header",
      "content": "== Escritorio"
    },
    {
      "type": "select",
      "id": "desktop_vertical_alignment",
      "label": "Alineación del contenido (Vertical)",
      "options": [
        {
          "value": "lg:top-0 lg:-translate-y-0 lg:bottom-[initial]",
          "label": "Superior"
        },
        {
          "value": "lg:top-1/2 lg:-translate-y-1/2 lg:bottom-[initial]",
          "label": "Centro"
        },
        {
          "value": "lg:bottom-0 lg:-translate-y-0 lg:top-[initial]",
          "label": "Inferior"
        }
      ],
      "default": "lg:bottom-0 lg:-translate-y-0 lg:top-[initial]"
    },
    {
      "type": "select",
      "id": "desktop_horizontal_alignment",
      "label": "Alineación del contenido (Horizontal)",
      "options": [
        {
          "value": "lg:left-0 lg:-translate-x-0 lg:right-[initial]",
          "label": "Izquierda"
        },
        {
          "value": "lg:left-1/2 lg:-translate-x-1/2 lg:right-[initial]",
          "label": "Centro"
        },
        {
          "value": "lg:right-0 lg:-translate-x-0 lg:left-[initial]",
          "label": "Derecha"
        }
      ],
      "default": "lg:left-0 lg:-translate-x-0 lg:right-[initial]"
    },
    {
      "type": "select",
      "id": "desktop_text_alignment",
      "label": "Alineación del texto",
      "options": [
        {
          "value": "lg:text-left",
          "label": "Izquierda"
        },
        {
          "value": "lg:text-center",
          "label": "Centro"
        },
        {
          "value": "lg:text-right",
          "label": "Derecha"
        }
      ],
      "default": "lg:text-left"
    },
    {
      "type": "number",
      "id": "desktop_offset_top",
      "label": "Espaciado superior",
      "default": 0
    },
    {
      "type": "number",
      "id": "desktop_offset_bottom",
      "label": "Espaciado inferior",
      "default": 0
    },
    {
      "type": "number",
      "id": "desktop_offset_left",
      "label": "Espaciado izquierdo",
      "default": 0
    },
    {
      "type": "number",
      "id": "desktop_offset_right",
      "label": "Espaciado derecho",
      "default": 0
    },
    {
      "type": "header",
      "content": "== Mobile"
    },
    {
      "type": "select",
      "id": "mobile_vertical_alignment",
      "label": "Alineación del contenido (Vertical)",
      "options": [
        {
          "value": "top-0 -translate-y-0",
          "label": "Superior"
        },
        {
          "value": "top-1/2 -translate-y-1/2",
          "label": "Centro"
        },
        {
          "value": "bottom-0 -translate-y-0",
          "label": "Inferior"
        }
      ],
      "default": "bottom-0 -translate-y-0"
    },
    {
      "type": "select",
      "id": "mobile_horizontal_alignment",
      "label": "Alineación del contenido (Horizontal)",
      "options": [
        {
          "value": "left-0 -translate-x-0",
          "label": "Izquierda"
        },
        {
          "value": "left-1/2 -translate-x-1/2",
          "label": "Centro"
        },
        {
          "value": "right-0 -translate-x-0",
          "label": "Derecha"
        }
      ],
      "default": "left-0 -translate-x-0"
    },
    {
      "type": "select",
      "id": "mobile_text_alignment",
      "label": "Alineación del texto",
      "options": [
        {
          "value": "text-left",
          "label": "Izquierda"
        },
        {
          "value": "text-center",
          "label": "Centro"
        },
        {
          "value": "text-right",
          "label": "Derecha"
        }
      ],
      "default": "text-left"
    },
    {
      "type": "number",
      "id": "mobile_offset_top",
      "label": "Espaciado superior",
      "default": 0
    },
    {
      "type": "number",
      "id": "mobile_offset_bottom",
      "label": "Espaciado inferior",
      "default": 0
    },
    {
      "type": "number",
      "id": "mobile_offset_left",
      "label": "Espaciado izquierdo",
      "default": 0
    },
    {
      "type": "number",
      "id": "mobile_offset_right",
      "label": "Espaciado derecho",
      "default": 0
    }
  ],
  "blocks": [
    {
      "name": "Título",
      "type": "custom_text_title",
      "limit": 1,
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Título",
          "default": "TITULO"
        },
        {
          "type": "header",
          "content": "== Color"
        },
        {
          "id": "color",
          "type": "radio",
          "label": "Color del título",
          "options": [
            {
              "value": "BLACK",
              "label": "Negro"
            },
            {
              "value": "WHITE",
              "label": "Blanco"
            }
          ],
          "default": "BLACK"
        },
        {
          "type": "header",
          "content": "== Configuración escritorio"
        },
        {
          "type": "range",
          "id": "desktop_font_size",
          "min": 10,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Tamaño",
          "default": 16
        },
        {
          "type": "range",
          "id": "desktop_font_weight",
          "min": 100,
          "max": 900,
          "step": 100,
          "label": "Grosor",
          "default": 600
        },
        {
          "type": "range",
          "id": "desktop_letter_spacing",
          "min": 0,
          "max": 10,
          "step": 1,
          "unit": "px",
          "label": "Espacio entre letras",
          "default": 0
        },
        {
          "type": "header",
          "content": "== Configuración teléfono"
        },
        {
          "type": "range",
          "id": "mobile_font_size",
          "min": 10,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Tamaño",
          "default": 16
        },
        {
          "type": "range",
          "id": "mobile_font_weight",
          "min": 100,
          "max": 900,
          "step": 100,
          "label": "Grosor",
          "default": 600
        },
        {
          "type": "range",
          "id": "mobile_letter_spacing",
          "min": 0,
          "max": 10,
          "step": 1,
          "unit": "px",
          "label": "Espacio entre letras",
          "default": 0
        }
      ]
    },
    {
      "name": "Sub titulo",
      "type": "custom_text",
      "limit": 1,
      "settings": [
        {
          "id": "content",
          "type": "richtext",
          "label": "Contenido",
          "default": "<p>Lorem ipsum dolor sit amet</p>"
        },
        {
          "type": "header",
          "content": "== Color"
        },
        {
          "id": "color",
          "type": "radio",
          "label": "Color del contenido",
          "options": [
            {
              "value": "BLACK",
              "label": "Negro"
            },
            {
              "value": "WHITE",
              "label": "Blanco"
            }
          ],
          "default": "BLACK"
        },
        {
          "type": "header",
          "content": "== Configuración escritorio"
        },
        {
          "type": "range",
          "id": "desktop_font_size",
          "min": 10,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Tamaño",
          "default": 16
        },
        {
          "type": "range",
          "id": "desktop_font_weight",
          "min": 100,
          "max": 900,
          "step": 100,
          "label": "Grosor",
          "default": 600
        },
        {
          "type": "range",
          "id": "desktop_letter_spacing",
          "min": 0,
          "max": 10,
          "step": 1,
          "unit": "px",
          "label": "Espacio entre letras",
          "default": 0
        },
        {
          "type": "header",
          "content": "== Configuración teléfono"
        },
        {
          "type": "range",
          "id": "mobile_font_size",
          "min": 10,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Tamaño",
          "default": 16
        },
        {
          "type": "range",
          "id": "mobile_font_weight",
          "min": 100,
          "max": 900,
          "step": 100,
          "label": "Grosor",
          "default": 600
        },
        {
          "type": "range",
          "id": "mobile_letter_spacing",
          "min": 0,
          "max": 10,
          "step": 1,
          "unit": "px",
          "label": "Espacio entre letras",
          "default": 0
        }
      ]
    },
    {
      "name": "Botón",
      "type": "button_link",
      "limit": 2,
      "settings": [
        {
          "id": "label",
          "type": "text",
          "label": "Botón",
          "default": "BOTON"
        },
        {
          "id": "link",
          "type": "url",
          "label": "Link"
        },
        {
          "type": "checkbox",
          "id": "is_blank",
          "label": "Abrir en una nueva pestaña"
        },
        {
          "type": "header",
          "content": "== Color"
        },
        {
          "id": "color",
          "type": "radio",
          "label": "Color del botón",
          "options": [
            {
              "value": "BLACK",
              "label": "Negro"
            },
            {
              "value": "WHITE",
              "label": "Blanco"
            }
          ],
          "default": "BLACK"
        },
        {
          "type": "header",
          "content": "== Transparencia"
        },
        {
          "type": "range",
          "id": "opacity",
          "min": 0,
          "max": 1,
          "step": 0.1,
          "label": "Opacidad",
          "default": 1
        },
        {
          "type": "header",
          "content": "== Borde"
        },
        {
          "id": "border",
          "type": "radio",
          "label": "Borde del botón",
          "options": [
            {
              "value": "BLACK",
              "label": "Negro"
            },
            {
              "value": "WHITE",
              "label": "Blanco"
            },
            {
              "value": "NONE",
              "label": "Ninguno"
            }
          ],
          "default": "NONE"
        },
        {
          "type": "range",
          "id": "border_size",
          "min": 1,
          "max": 5,
          "step": 1,
          "unit": "px",
          "label": "Grosor del borde",
          "default": 1
        },
        {
          "type": "header",
          "content": "== Configuración escritorio"
        },
        {
          "type": "range",
          "id": "desktop_font_size",
          "min": 10,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Tamaño",
          "default": 16
        },
        {
          "type": "range",
          "id": "desktop_font_weight",
          "min": 100,
          "max": 900,
          "step": 100,
          "label": "Grosor",
          "default": 600
        },
        {
          "type": "range",
          "id": "desktop_letter_spacing",
          "min": 0,
          "max": 10,
          "step": 1,
          "unit": "px",
          "label": "Espacio entre letras",
          "default": 0
        },
        {
          "type": "header",
          "content": "== Configuración teléfono"
        },
        {
          "type": "range",
          "id": "mobile_font_size",
          "min": 10,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Tamaño",
          "default": 16
        },
        {
          "type": "range",
          "id": "mobile_font_weight",
          "min": 100,
          "max": 900,
          "step": 100,
          "label": "Grosor",
          "default": 600
        },
        {
          "type": "range",
          "id": "mobile_letter_spacing",
          "min": 0,
          "max": 10,
          "step": 1,
          "unit": "px",
          "label": "Espacio entre letras",
          "default": 0
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero video"
    }
  ]
}
{% endschema %}
