<div class="container flex flex-col items-center justify-center h-full py-10">
  <div class="text-center">
    <p class="text-lg font-bold mb-6">
      {% unless shop.password_message == blank %}
        {{ shop.password_message }}
      {%- else -%}
        {{ 'general.password.password_title' | t }}
      {% endunless %}
    </p>
    {% if form.errors %}
      <div class="mb-5">
        <div class="bg-rose-600 text-monastery-white p-3 flex items-center">
          {% render 'error-icon' classNames: "w-10 h-10 mr-3" %}
          <p>
            {{ 'errors.form.error_form' | t }}
          </p>
        </div>
        <ul>
          {% for error in form.errors %}
            {{ form.errors.messages[error] }}
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% form 'storefront_password' %}
      {{ form.errors | default_errors }}

      <div class="password mb-2">
        <label for="password" class="uppercase text-gray-700 text-xs font-medium mb-2"> {{ 'general.password.password_input' | t }} </label>
        <input
          type="password"
          name="password"
          id="password"
          class="w-full text-gray-700 border px-4 py-3 focus:outline-none"
          autofocus
        >
      </div>

      <div class="submit">
        <button type="submit" class="btn black grow text-base font-bold w-full uppercase">
          <span> {{ 'general.password.submit' | t }} </span>
        </button>
      </div>
    {% endform %}
  </div>
</div>

{% schema %}
{
  "name": "Template password",
  "tag": "section",
  "class": "h-full"
}
{% endschema %}
